{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1>Safelist</h1>
		</div>
		<div class="col-md-4"></div>
	</div>
	<form action="/" method="POST">
	<div class="center"><h2 style="color:#e74c3c;">{{error}}</h2><br></div>
	<div class="center"><h3>Safelist is a way for people to purchase off Craigslist in a safe way. This is a request for a purchase. If you accept, the transaction will be handled by us and the pickup will be handles by postmates (a delivery service). To accept the offer, fill out this form with the pickup and payment information. You may contact the buyer at: </h3></div>
	<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<input class="form-control circle" placeholder="Address" name="address">
		</div>
		<div class="col-md-4"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<input class="form-control circle" placeholder="Time" name="time">
		</div>
		<div class="col-md-4"></div>
	</div>
	<br>
	<div class="center">
		<h3>Price: </h3>
		<br>
		<button class="btn btn-lg btn-primary" id="accept">Accept</button>
		<button class="btn btn-lg btn-primary" style="background-color:red"id="decline">Decline</button>
	</div>
	</form>
</div>
{% endblock %}
