{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1>Safelist</h1>
		</div>
		<div class="col-md-4"></div>
	</div>
	<form action="/formdone" method="POST">
	<div class="center"><h3>Safelist is a way for people to purchase off Craigslist in a safe way. This is a request for a purchase of <a href="{{url}}"> this item</a>. If you accept, the transaction will be handled by us and the pickup will be handles by postmates (a delivery service). To accept the offer, fill out this form with the pickup and payment information. </h3></div>
	<br>
	<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<br>
				<input class="form-control circle" placeholder="Address of pickup" name="address">
			</div>
			<div class="col-md-4"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<input class="form-control circle" placeholder="Time for pickup" name="time">
			</div>
			<div class="col-md-4"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<input class="form-control circle" placeholder="Phone number" name="number">
			</div>
			<div class="col-md-4"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<input class="form-control circle" placeholder="Credit Card Number" name="creditcard">
			</div>
			<div class="col-md-4"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<input class="form-control circle" placeholder="Expiration Date" name="date">
			</div>
			<div class="col-md-4"></div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4"></div>
			
			<div class="col-md-4">
				<input class="form-control circle" placeholder="CVC" name="CVC">
			</div>
			<div class="col-md-4"></div>
		</div>
		<br>
	<br>
	<div class="center">
		<h3>Price: ${{price}}</h3>
		<br>
		<input type="hidden" value="{{username}}" name="username">
		<input type="hidden" value="{{url}}" name="url">
		<input type="hidden" value="{{price}}" name="price">
		<button class="btn btn-lg btn-primary" id="accept">Accept</button>
		
	</div>
	</form>
	<button class="btn btn-lg btn-primary" location.href ="/decline/{{username}}" style="background-color:red"id="decline">Decline</button>
</div>
{% endblock %}
