{% extends "base_user.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1>Safe List</h1>
		</div>
		<div class="col-md-4"></div>
	</div>
	<br>
	<form action="/" method="POST">
	<div class="center"><h2 style="color:#e74c3c;">{{error}}</h2><br></div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<input class="form-control circle" placeholder="search" name="search">
		</div>
		<div class="col-md-4"></div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<select class="form-control" id="select" name="location">
                <option value="philadelphia">Philadelphia, PA</option>
            </select>
		</div>
		<div class="col-md-4"></div>
	</div>
	<br>
	<div class="center">
		<button class="btn btn-lg btn-primary">Search</button>
	</div>
	</form>
</div>
{% endblock %}